#!/usr/bin/env 

branch = %x[git rev-parse --abbrev-ref HEAD]
regex = /\[ref: [0-9]+\]/
match_data = branch.match(regex)

commit = false 

commitName = IO.read(ARGV[0])

if regex.match(commitName)
	commit = true
	end

if commit
	exit 0
end

puts "Inavalide commit description"
exit 1 